doctype html
html
    head
        title 
            = htmlWebpackLoader.options.title
    body 
        .profile
            img(src=require('./images/link.jpg'))
            h1 
                Hello there
