body{
    background: #909090;
    margin: 0;
}

.profile{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

img{
    border-radius: 1000px;
    width: 300px;
    box-shadow: 0 0 20px black;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 20px black;
    font-size: 50px;
}